*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App{
    height: 100vh;
  }

  h2{
    color: rgba(39, 165, 153, 1);
    font-style: poppins;
    padding: 20px;
    padding-bottom: 1px;
    margin: 20px;
    margin-left: 500px;
    width: 248px;
    height: 42px;
  }

  h3{
  font-weight: lighter;
  color: grey;
  font-size: 15px;
  margin-left: 510px;
  margin-bottom: 15px;
  width: 250px;
  height: 24px;
  }

  .slot1{
    display: inline-table;
  }

  #name{
  margin-left: 300px;
  width: 500px;
  height: 37px;
  border-radius: 10px;
  color: gray;
  margin-top: 5px;
  }

  #address{
  margin-left: 300px;
  margin-top: 5px;
  width: 500px;
  height: 37px;
  border-radius: 10px;
  color: gray;
  }
  
  #email{
    margin-top: 5px;
  }

  .address{
    margin-top: 20px;
  }

  .email{
    margin-top: 20px;
  }

  .slot2{
    display: flex;
    justify-content: space-between;
  }

  #city{
      margin-top: 40px;
      width: 100px;
      height: 37px;
      border-radius: 10px;
      color: gray;
  }

  #lga{
    margin-right: 2000px;
      margin-top: 40px;
      width: 100px;
      height: 37px;
      border-radius: 10px;
      color: gray;
  }

  .city{
    margin-top: 20px;
  }

  .lga{
    margin-top: 20px;
  
  }

  .phone{
    margin-top: 20px;
  }

  #number{
    margin-left: 300px;
    margin-top: 5px;
    width: 500px;
    height: 37px;
    border-radius: 10px;
    color: gray;
  }

  .confirm{
    margin-top: 20px;
  }