*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
}

h2{
  color: rgba(39, 165, 153, 1);
  font-style: poppins;
  padding: 20px;
  padding-bottom: 1px;
  margin: 20px;
  margin-left: 500px;
  width: 248px;
  height: 42px;
}

h3{
  font-weight: lighter;
  color: grey;
  font-size: 15px;
  margin-left: 540px;
  margin-bottom: 10px;
  width: 180px;
  height: 24px;
}

.form-grou{
  display: inline-table;
}

h1{
  margin-left: 300px;
  font-size: 15px;
  color: grey;
  width: 122px;
  height: 18px;
  font-weight: lighter;
}

#email{
  margin-left: 300px;
  width: 500px;
  height: 37px;
  border-radius: 10px;
  color: gray;
}

.font-group{
  display: inline-table;
}

.pass{
  margin-top: 25px;
}

#password{
  margin-left: 300px;
  margin-top: 5px;
  width: 500px;
  height: 37px;
  border-radius: 10px;
  color: gray;
}

.login{
  margin-left: 300px;
  margin-top: 50px;
  background-color: rgba(255, 159, 28, 1);
  color: #fff;
  width: 500px;
  height: 48px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/*.login:hover{
  background-position: 100% 0%;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, RED 50%);
}*/

.question{
  margin-top: 25px;
  margin-left: 500px;
}